/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Blue Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #ececec;
}

.title {
	margin:20px 0;
	font-family: 'Aclonica', sans-serif;
    font-size: 4em;
    color: white;
    background: #0060ff;
    padding: 30px 10px 20px 10px;
}

.menu{
	margin-top:45px;
}
/* ==============
    MOBILE: Menu
   ============== */

.menu ul {
	
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #e44d26;
}

.menu a:hover,
.menu a:visited {
    color: white;
}

.menu a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.create
	{
		font-family: 'Alex Brush', cursive;
		font-size:4.0em;
		margin-bottom: 2px;
		color: #E44D26;
	}
.stunning
{
	font-family: 'Antic Didone', serif;
	font-size:10em;
	line-height:1.0em;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#0060FF;
}
.tagline
{
	font-family: 'Abel', sans-serif;
    margin-top: 0px;
    font-size: 2em;
    padding-left: 10px;
}

.main aside{
	width:20%;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .menu a {
      
    }

    .menu li:first-child a {
        margin-left: 0;
    }

    .menu li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .menu ul li {
        display: inline;
    }

    .oldie .menu a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    .menu {
        float: right;
        width: 50%;
    }
    
    .menu ul li{
		margin-left:10px;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
		padding:0;
        float: right;
        width: 15%;
        border-top: 20px solid #BEBEBE;
        color: #0060FF;
    text-align: center;
    text-transform: uppercase;
    }
    
    .logopic{    
    position: relative;
    left: -40px;
    width: 230px;
    border: 2px solid;
    border-color: #B9CFF5;
    border-radius: 15px;
    }
    
    .role{
        color: #DA682D;
    text-align: center;
	}
	.function{    
	margin: 0px;
    padding: 2px 10px;
    font-family: 'Droid Sans Mono', serif;
    font-size: 10px;
    line-height: 1.4em;
    text-align: left;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    .menu ul li{
		float:left;
		margin-left:20px;		
    }
   .menu ul li a{
	color:#0060ff !important;
	padding:5px 10px;
	background:none;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
